/* 
 * Snackbar de éxito:
 * Este estilo se aplica a los mensajes de notificación de éxito.
 * Se caracteriza por un fondo verde, texto blanco y una animación
 * que hace que el mensaje aparezca y desaparezca suavemente.
 */
 .snackbar-success {
  background-color: #4caf50; /* Establece el fondo en verde para indicar éxito */
  color: white;              /* Define el color del texto en blanco para buen contraste */
  font-size: 16px;           /* Tamaño de fuente de 16px para legibilidad */
  font-weight: bold;         /* Texto en negrita para enfatizar el mensaje */
  text-align: center;        /* Centra el texto horizontalmente */
  border-radius: 5px;        /* Bordes redondeados de 5px para un acabado suave */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Aplica una sombra sutil para dar profundidad */
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;    /* Define animaciones de aparición y desaparición */
}

/* 
* Snackbar de error:
* Este estilo se utiliza para mostrar mensajes de error.
* Utiliza un fondo rojo para indicar problemas y resalta el mensaje
* con un texto en negrita y animaciones similares a las de éxito.
*/
.snackbar-error {
  background-color: #f44336; /* Establece el fondo en rojo para indicar error */
  color: white;              /* Texto en blanco para contraste */
  font-size: 16px;           /* Tamaño de fuente de 16px */
  font-weight: bold;         /* Texto en negrita para mayor énfasis */
  text-align: center;        /* Centra el contenido del texto */
  border-radius: 5px;        /* Bordes redondeados para un diseño moderno */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto de elevación */
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;    /* Animaciones de entrada y salida para el mensaje */
}

/* 
* Snackbar de advertencia:
* Este estilo se aplica a los mensajes de advertencia, usando un fondo
* naranja para alertar al usuario sin la severidad de un error.
* Comparte propiedades comunes con los otros snackbars para mantener
* la coherencia visual.
*/
.snackbar-warning {
  background-color: #ff9800; /* Fondo en naranja para indicar advertencia */
  color: white;              /* Texto en blanco para asegurar la legibilidad */
  font-size: 16px;           /* Tamaño de fuente de 16px */
  font-weight: bold;         /* Texto en negrita para resaltar el mensaje */
  text-align: center;        /* Alineación centrada del contenido */
  border-radius: 5px;        /* Bordes redondeados para un acabado visualmente agradable */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para crear un efecto de profundidad */
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;    /* Define la animación de aparición y desaparición */
}
