<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rombo Works - Servicios</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="./servicios.component.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <!-- Introductory Section -->
    <section class="intro-section bg-cover">
      <h1 class="intro-title">Innovative Financial Solutions</h1>
      <p class="intro-description">Transforming finance with cutting-edge software solutions tailored for efficiency and
        security.</p>
    </section>

    <!-- Main Services Section -->
    <main>
      <section class="services-overview">
        <h2 class="services-title">Transforming Financial Operations with Innovative Software Solutions Tailored for You
        </h2>
      </section>

      <section class="services-list">
        <article class="service-item">
          <mat-icon class="service-icon">apps</mat-icon>
          <h3 class="service-title">Digital Banking Platforms</h3>
          <p class="service-description">Advanced mobile and online banking solutions for seamless user experiences and
            enhanced efficiency.</p>
          <a href="#" class="learn-more">Learn More &nbsp; &rarr;</a>
        </article>

        <article class="service-item">
          <mat-icon class="service-icon">computer</mat-icon>
          <h3 class="service-title">AI & Machine Learning</h3>
          <p class="service-description">Harness predictive analytics and automation to optimize your financial
            processes
            effectively.</p>
          <a href="#" class="learn-more">Learn More &nbsp; &rarr;</a>
        </article>

        <article class="service-item">
          <mat-icon class="service-icon">verified_user</mat-icon>
          <h3 class="service-title">RegTech Solutions</h3>
          <p class="service-description">Automate compliance and risk management to safeguard your financial operations
            with confidence.</p>
          <a href="#" class="learn-more">Learn More &nbsp; &rarr;</a>
        </article>

        <article class="service-item">
          <mat-icon class="service-icon">assessment</mat-icon>
          <h3 class="service-title">Data Analytics & Big Data</h3>
          <p class="service-description">Leverage strategic data analysis for personalized financial services that drive
            growth and engagement.</p>
          <a href="#" class="learn-more">Learn More &nbsp; &rarr;</a>
        </article>
      </section>
    </main>

    <!-- New Banking Experience Section -->
    <section class="banking-experience">
      <div class="banking-content">
        <h4>Innovate</h4>
        <h1 class="banking-title">Transform Your Banking Experience with Us</h1>
        <p class="banking-description">Our Digital Banking Platforms offer seamless mobile and online banking solutions
          tailored to meet the needs of modern users. Experience enhanced security, efficiency, and personalized
          services
          that empower your financial journey.</p>
        <button class="app-button">App</button>
      </div>
      <div class="image-placeholder">
        <img src="../../assets/placeholder-view.png" alt="Imagen de Banca Digital">
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2024 Rombo Works. All rights reserved.</p>
        <nav class="footer-links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="#">Cookie Preferences</a>
        </nav>
      </div>
    </footer>
  </div>


</body>

</html>
