* {
  box-sizing: border-box;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 16px;
  color: #101720;
}

.container {
  padding-left: 70px;
  width: 100%;
}

.intro-title {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff;
}

.intro-description {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0;
  color: #101720;
}

/* Botones de navegación */
.navigation-button {
  background-color: #f3f4f6;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.navigation-button:hover {
  background-color: #e5e7eb;
  /* Gris más oscuro al pasar el cursor */
}

.navigation-button .material-icons {
  font-size: 20px;
  color: #4b5563;
  /* Gris oscuro para las flechas */
}

.pagination-dots>span {
  margin: 0 5px;
}

.pagination-dots .navigation-button {
  margin-left: 15px;
}

/* Contacto */
.contact {
  padding: 2rem;
  background-color: #ffffff;
}

.contact-methods {
  display: grid;
  gap: 2rem;
}

.contact-item {
  text-align: center;
}

.contact-item h3 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333333;
}

.contact-item p {
  font-size: 0.875rem;
  color: #666666;
  margin-bottom: 0.5rem;
}

.contact-item a {
  font-size: 0.875rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-item a:hover {
  color: #0056b3;
}

.material-icons {
  color: #007bff;
  font-size: 2.5rem;
}

/* Contenedor general de las redes sociales*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ffffff;
  margin-bottom: 50px;

}

/* Logo */
.logo-container {
  flex: 1;
}

.logo {
  height: 200px;
  /* Tamaño más grande */
}

/* Menú de navegación */
.nav-menu {
  display: flex;
  justify-content: center;
  flex: 2;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  /* Tamaño del texto */
  font-weight: 500;
  color: #4a4a4a;
  transition: color 0.3s;
  text-align: center;
}

.nav-link:hover {
  color: #007bff;
}

/* Redes sociales */
.social-icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 16px;
  color: #007bff;
}

.social-icon {
  font-size: 20px;
  transition: opacity 0.3s;
}

.social-icon:hover {
  opacity: 0.7;
}


/* Footer */
.footer {
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 32px;
}

.footer-legal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-legal p {
  color: #666666;
  font-size: 0.875rem;
  margin-right: 10px;
}

.footer-legal a {
  color: #666666;
  font-size: 0.875rem;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
}

.footer-legal a:hover {
  color: #007bff;
}

.containersub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 20px;
}

.text-section {
  max-width: 50%;
}

.text-section h1 {
  color: #007bff;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

.text-section p {
  margin-bottom: 20px;
  color: #555;
}

.text-section button {
  background-color: white;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.image-section {
  flex: 1;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: absolute;
}

.finance-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.video-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-placeholder {
  width: 200px;
  height: 200px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.play-button {
  font-size: 2rem;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}

.content-section {
  flex: 2;
  padding: 10px 20px;
}

h2 {
  font-size: 1.8rem;
  color: #007bff;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
  color: #555555;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.icon {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.learn-more {
  background-color: #0070c9;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #005fa3;
}
